html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

/* div {
    border: 1px black solid;
} */

.company-name{
    width: 200px;
    margin-left: 24px;
    height: 32px;
    
}

.company-name img {
    vertical-align: middle;
}

ul a {
    text-decoration: none;
    cursor: pointer;
    padding: .3rem;
    color: black;
}


.banner {
    display: flex;
    align-items: center;
    background-color: hsl(0, 7%, 92%);
    color: darkslategray;
    width: 100%;
  
}

.banner img {
    width: 55%;
    margin: 32px 24px;
}

.banner-statement {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.banner-statement h2 {
    font-size: 32px;
    font-weight: bold;
}

.banner-statement button {
    text-align: center;
    background-color: darkslategray;
    align-self: center;
    color: white;
    width: 100%;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 40px;
}


.banner-2 {
    display: flex;
    
}

.banner2Img {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    
}

.banner2Img img {
    width: 50%;
    margin: 32px 24px;
    flex-grow: 1;
}

.banner2quote {
    text-align: left;
    margin-left: 24px;
    margin-right: 24px;
    align-items: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.banner2quote h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 24px;
}

.banner2quote p {
    font-size: .8rem;
    margin-top: 0;
    margin-bottom: 32px;
}

#emanuel {
    margin-bottom: 32px;
    font-size: .65rem;
}


.side-pictures {
    width: 40%;
    margin-top: 16px;
  
}

.side-pictures p {
    font-weight: bold;
    font-size: 1.2rem;
}

.side-pictures span {
    font-weight: normal;
    font-size: .8rem;
}

.side-pictures a{
    text-decoration: none;
    font-size: .87rem;
    margin-top: .5rem;
}

.side-pictures img {
    width: 35%;
}

#side1, #side2, #side3 {
    display: flex;
    
    align-items: center;
    text-align: left;
} 



 #side1 img, #side2 img, #side3 img {
    margin: 16px;
}

#side2 {
    border-top: 5px hsl(0, 7%, 92%) solid;
}

#side3 {
    background-color: hsl(0, 7%, 92%);
}

