html, body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0, auto;
    padding: 0;
    width: 100%;
}

header {
    width: 100%;
    margin-top: 0;
}

.lowRes {
    visibility: hidden;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Righteous', cursive;
}

.lighten {
    color: rgb(165, 161, 161);
}

.company-name{
    width: 12.5rem;
    height: 2rem;
}

.company-name img {
    vertical-align: middle;
    width: 20%;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.nav-ul li a{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: .3rem;
    color: black;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.hamburger:focus {
    outline:none;
}


/* Bordering Outlines */

/* div {
    border: 1px black solid;
} 

.banner-2 div {
    border: black solid 1px;
}

.banner2Img div {
    border: red solid 1px;
} 

 .side-pictures{
    border: orange solid 2px;
}

.side {
    border: green solid 2px;
}

.side div {
    border: darkblue solid 2px;
}  */





/* Banner One */


.banner {
    display: flex;
    background-color: hsl(0, 7%, 92%);
    color: darkslategray;
    align-items: center;
    width: 100%;
}

.banner img {
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.banner-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.banner-statement h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.banner-statement button {
    text-align: center;
    background-color: darkslategray;
    align-self: center;
    color: white;
    width: 100%;
    border: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 2.5rem;
    font-family: 'Varela Round', sans-serif;
}


/* Banner 2 */
.banner-2 {
    display: flex;
    width: 100%;
}

.banner2Img {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    flex-grow: 1;
}

.banner2Img img {
    display: flex;
    width: 95%;
    margin: 2rem 1.5rem;
}

.banner2quote {
    text-align: left;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    align-items: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner2quote h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.banner2quote p {
    font-size: .8rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

#emanuel {
    margin-bottom: 2rem;
    font-size: .65rem;
}

.side-pictures {
    width: 30%;
    margin-top: 1rem;
    flex-grow: 2;
}

.side-pictures p {
    font-weight: bold;
    font-size: 1.2rem;
}

.side-pictures span {
    font-weight: normal;
    font-size: .8rem;
}

.side-pictures a{
    text-decoration: none;
    font-size: .87rem;
    margin-top: .5rem;
}

.side-pictures img {
    width: 35%;
}

.side {
    display: flex;
    align-items: center;
    text-align: left;
} 

.side-text {
    width: 75%;
    margin-bottom: 2rem;
}

.side img {
    margin: 1rem;
}

.side-2 {
    border-top: 0.3125rem hsl(0, 7%, 92%) solid;
}

.side-3 {
    background-color: hsl(0, 7%, 92%);
}

/* Banner 3 */

.banner-3 {
    background-color: hsl(0, 7%, 92%);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
}

.banner-3 h2 {
    font-size: 2rem;
}

.professions {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 4.5rem;
    justify-content: space-evenly;
    gap: 2rem;

}

.profession {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.profession img {
    height: auto;
    width: 100%;
}

.profession-text {
    text-align: left;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.profession-text h4 {
    font-size: 1.5rem;
    font-weight: 900;
}


/* Banner-4 */

.banner-4 {
    margin-top: 3rem;
}

.banner-4 h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.thesis-container {
    display: flex;
    margin-left: 24px;
    text-align: left;
    justify-content: space-between;
}

.video-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.video-container-text {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.video-container-text p {
    margin-top: .5rem;
    font-size: .9rem;
}

.side-categories {
    display: flex;
    flex-direction: column;
}

.side-categorie {
    display: flex;
}

.side-categorie img {
    width: 35%;
    margin: 1rem;
}

.side-categorie1 {
    background-color: hsl(0, 7%, 92%);
}

.thesis-container h4 {
    font-size: 1.2rem;
}


footer{
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    border-top: solid gray .03125rem;
}

footer a {
    text-decoration: none;
    cursor: pointer;
    padding: .3rem;
    color: black;
}



/* Responsive */

@media only screen and (max-width: 800px) {
    .nav-ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-ul.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .navbar a {
        display: none;
    }

    header {
        margin-bottom: .2rem;
        width: 100%;
    }

    header p {
        text-align:left;
        margin-left: .5px;
    }

    header span {
        display: none;   
    }

    .banner {
        flex-direction: column;
    }

    .banner img {
        width: 100%;
        margin:0;
    }

    .banner-statement {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        text-align: left;
    }

    .banner button {
        margin-right: 1rem;
    }


    .banner2Img {
        display: none;
    }

    .side {
        flex-direction: column;
    }

    .side img {
       width: 100%;
       margin: 0;
       height: auto;
    }

    .side-pictures {
        width: 100%;

    }

}